.Home-main-container {
    // width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
    

    &>.wrapper {;
        width: 100vw;
    }

    &>.top-div {
        // filter: blur(5px);
        backdrop-filter: blur(5px);
        position: fixed;
        height: 8vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: white;
        background-color: rgba(255,255,255,0.5);
        box-shadow: -2px -2px 5px lightgray, 
            2px  2px 5px lightgray;

    }

    &>.bottom-div {
        height: 90vh;
        padding-top: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        &>.card {            
            height: 100%;
            border-radius: 8px;
            box-shadow: -2px -2px 5px lightgray, 
            2px  2px 5px lightgray;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            &>.vertical {
                overflow-y: scroll;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 10px;

            }
        }

        &>.left-card {
            margin-top: 5%;
            width: 50vw;
            background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);

        }

        &>.right-card {
            padding: 15px;
            margin-top: 8%;
            background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
            width: 40vw;
            
        }
    }
}