.Home-main-container {
  // width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  // background-image: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);

  & > .zStack {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    & > .selectors {
      position: relative;
      bottom: 40px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 200px;
      height: 20px;
      z-index: 1;

      & > .selector {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border-color: gray;
        background-color: white;
        box-shadow: -1px -1px 3px lightgray, 1px 1px 3px gray;
        cursor: pointer;
        transition: 0.2s linear;
      }
    }
  }

  &>.recommended-div {
    &>.row {
      width: 95vw;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      row-gap: 5vmin;
      column-gap: 5vmin;
      justify-content: center;

    }
  }
}
