.Detailed-main-div {
  height: 100vh;
  display: flex;
  flex-direction: column;
//   align-items: center;
//   background-image: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);
  & > .info-div {
    position: fixed;
    right: 0;
    top:10vh;
    &>.description {
        padding: 10px;
        width: 35vw;
        min-width: 300px;
        border: 4px solid black;
        border-radius: 8px;

    }
  }
}
