.wrapper {
  width: 100vw;
}

.top-div {
  // filter: blur(5px);
  backdrop-filter: blur(5px);
  position: fixed;
  height: 8vh;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: -2px -2px 5px lightgray, 2px 2px 5px lightgray;
  z-index: 10;

    &>.active {
      background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
    }

    &>.active, &>.inactive {
        transition: linear 0.2s;
    }
    &>.active:hover, &>.inactive:hover {
      background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
    }

}


// .user-name{
//   vertical-align: "left";
// }